/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/sample-copy.png
/resources/image-db/
/resources/sample.png
/resources/secret.json
/resources/secret.json.gpg
